/* Fix from http://angular-ui.github.io/bootstrap/ */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}

.navbar-wrapper .navbar .container {
  width: auto;
}

.navbar {
  margin-bottom: 0;
}

.navbar-brands {
  background-image: url("images/ponyup.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.container>.navbar-header .navbar-toggle {
  background-color: #3782B2;
  margin: 0;
  height: 50px;
  width: 50px;
}

.icon-bar {
  background-color: #fff;
  margin: 0 auto;
}

.container>.navbar-header {
  padding: 4px;
}

.navbar-collapse {
  border: none;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 480px) {
  .navbar-wrapper {
    margin-top: 40px;
  }

  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    max-width: 1200px;
  }

  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  .navbar-wrapper .navbar-nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color: #3782B2;
    border-radius: 4px;
    color: #fff;
  }
}

@media (max-width: 480px) {
  .nav>li {
    background-color: #3782B2;
  }

  .nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color: #FF8281;
    color: #fff;
    text-decoration: underline;
  }
}

/* MAIN CSS
-------------------------------------------------- */

body, html {
  background-color: #68c4ff;
  overflow-x: hidden;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8em;
}

.navbar-wrapper a {
  color: #fff;
}

.body p {
  color: #252525;
}

.body p a {
  color: #3782B2;
  text-decoration: underline;
  padding: 8px;
}

.body p a:hover {
  color: #fff;
  background-color: #000;
}

h1 {
  font-weight: 300;
  font-size: 3em;
  color: #fff;
  margin-bottom: 40px;
}

h2 {
  color: #fff;
  font-size: 30px;
  margin: 0;
  padding: 0.5em;
  text-align: center;
  font-weight: 300;
}

h2.title .editable {
  color: #fff;
}

h3 {
  margin: 0;
  line-height: 50px;
  font-size: 1.5em;
}

blockquote {
  margin-left: 10px;
}

blockquote small {
  color: #fff;
}

form {
  max-width: 768px;
  margin: 0 auto;
}

input[type="text"], input[type="number"] {
  height: 50px;
  font-size: 1em;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #c8c8c8 !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #c8c8c8 !important;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #c8c8c8 !important;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #c8c8c8 !important;
}

table {
  background-color: #fff;
}

.table {
  margin-bottom: 0;
}

.addRemove {
  width: 1px;
  vertical-align: middle !important;
}

.total {
  color: #fff;
  font-size: 1.5em;
}

.total > td {
  background-color: #FF8281 !important;
}

.totalPrice {
  font-weight: 700;
  text-align: center;
}

.priceColumn {
  width: 100px;
}

.priceColumnAlt {
  width: 74px;
  text-align: left;
}

.table>tbody>tr>td {
  border: none;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.body {
  flex: 1;
  margin: 0 auto;
  width: 100%;
}

footer {
  margin-top: 40px;
  background-color: #3782B2;
  padding: 10px;
  font-weight: 300;
  /*position: relative;*/
  /*z-index: 1;*/
}

footer p {
  margin: 0;
}

footer a {
  color: #dadada;
  padding: 4px;
  margin: 2px;
}

footer a:hover {
  text-decoration: none;
  color: #fff;
  background-color: #252525;
  border-radius: 4px;
}

button.jumbo {
  padding: 20px;
  font-weight: bold;
  font-size: 1.5em;
}

::selection {
    background: #000;
    color: #fff;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

input.ng-dirty.ng-invalid {
  border: 2px solid #E14D4C;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

#loading-bar-spinner {
  display: none !important;
}


/* ANIMATIONS
-------------------------------------------------- */

.animate.ng-enter, .animate.ng-leave {
  opacity: 0;
  -webkit-transition:all .5s ease-in-out;
  -moz-transition:all .5s ease-in-out;
  -o-transition:all .5s ease-in-out;
  transition:all .5s ease-in-out;
}

.animate.ng-enter {
  opacity: 0;
}

.animate.ng-enter-active {
  opacity: 1;
}

.animate.ng-leave {
  opacity: 1; 
}

.animate.ng-leave-active {
  display: none;
}

/*disable animations on font-awesome*/
.fa.ng-leave {
  opacity: 0;
  -webkit-transition:all .0s ease-in-out;
  -moz-transition:all .0s ease-in-out;
  -o-transition:all .0s ease-in-out;
  transition:all .0s ease-in-out;
}

.specialAlert {
  padding: 0;
  margin: -15px;
  margin-top: 0;
  border-radius: 0;
  line-height: 2em;
  position: fixed;
  top: 0;
  width: 100%;
  margin-bottom: 100px;
  z-index: 100;
}

.panel {
  font-size: 0.8em;
}

.overflowFix {
  height: 1px;
}

.blackFriday {
  background-color: #252525;
  color: #fff;
}

#elevatorPitch {
  color: #3782B2;
  font-weight: 300 !important;
  font-size: 18px;
  text-align: center;
}

#elevatorPitch a {
  color: #3782B2;
  text-decoration: underline;
}

.fakeMouse {
  position: fixed;
  width: 24px;
  height: 24px;
  display: block;
  background-image: url("images/mouse.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  cursor: default;
}

form.editable-wrap, textarea.editable-has-buttons, .editable-controls {
  width: 100% !important;
  position: relative;
}

.editable-controls .editable-buttons {
  display: block !important;
  float: right;
  margin: 10px;
  margin-bottom: 0;
}

.title {
  position: relative;
}

.title .editable-controls input[type="text"] {
  font-size: 18px;
  float: left;
  width: 100%;
  height: 50px;
}

.title .editable-controls .editable-buttons {
  position: absolute;
  right: 10px;
  height: 50px;
  margin: 0;
  margin-top: 6px;
}

.alert-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
}

.hasNavbarAbove {
  margin-top: 60px;
}

.tabletColumn {
  max-width: 768px;
  margin: 0 auto;
}

.editable-click {
  border-bottom: dashed 2px #000 !important;
}

.tab-content>.active {
  padding-top: 10px;
}