<div class="row">
  <h2 data-fittext-max="40" data-fittext-min="12" data-fittext="2">{{cause.name}}</h2>
  <hr style="margin-top: 0;">
  <div style="max-width: 768px; margin: 0 auto;">
    <div>
      <blockquote><small>{{cause.description | unsafe}}</small></blockquote>
    </div>
    <div class="panel panel-default">
      <table class="table table-striped table-responsive">
        <tr ng-repeat="item in cause.items">
          <td>{{item.description}}</td>
          <td class="priceColumn">{{item.price | currency:"$"}}</td>
        </tr>
      </table>
    </div>

    <div class="panel panel-info">
      <div class="panel-heading">
        <span class="pull-left">So far we've ponied up:</span><span class="pull-right"><strong>$42</strong></span><div class="clearfix"></div>
      </div>

      <ul class="list-group">
        <li class="list-group-item">
          <div class="pull-left">
            <i class="fa fa-cc-visa"></i> Nov 18 6:42pm
          </div>
          <div class="pull-right">
            $3
          </div>
          <div class="clearfix"></div>
          <div class="pull-left">
            <i class="fa fa-cc-visa"></i> Nov 19 3:08pm
          </div>
          <div class="pull-right">
            $4
          </div>
          <div class="clearfix"></div>
        </li>
        <li class="list-group-item">
          <div class="pull-left">
            <i class="fa fa-cc-discover"></i> Nov 17 4:58pm
          </div>
          <div class="pull-right">
            $5
          </div>
          <div class="clearfix"></div>
        </li>
        <li class="list-group-item">
          <div class="pull-left">
            <i class="fa fa-cc-mastercard"></i> Nov 24 8:12pm
          </div>
          <div class="pull-right">
            $8
          </div>
          <div class="clearfix"></div>
        </li>
        <li class="list-group-item blackFriday">
          <div class="pull-left">
            <h3>How much do you want to contribute?</h3>
          </div>
          <div class="pull-right">
            <input required class="form-control priceColumn" type="number" placeholder="$0.00" ng-model="dollarAmount" min="0" max="10000" step="any" decimal-places valid-number>
          </div>
          <div class="clearfix"></div>
        </li>
      </ul>
    </div>

    <button ng-disabled="!dollarAmount" style="font-weight: 300;" ng-click="getCC()" data-fittext-max="30" data-fittext-min="12" data-fittext="2" ng-click="submit()" type="submit" class="btn btn-lg btn-primary btn-block jumbo"><small><i class="fa fa-credit-card"></i></small> Enter Credit Card Info</button>

    <hr>

    <div id="elevatorPitch">
      <small><strong>What is this website?</strong> <a href="/"><img src="/images/ponyup-alt.png" alt="PonyUp" style="max-height: 20px;"></a> is an online platform that provides an easy way to collect money.</small>
    </div>
  </div>
</div>