<div class="row">
  <h1 class="text-center" data-fittext-max="50" data-fittext-min="12" data-fittext="1.5">Frequently Asked Questions</h1>
  <h2 data-fittext-max="40" data-fittext-min="10" data-fittext="1.5">Q: Where can I ask a question?</h2>
  <blockquote>A: In our chat room <a href="https://www.hipchat.com/ge1sSkzLQ" target="_blank">https://www.hipchat.com/ge1sSkzLQ</a> or via email <a href="mailto:yourfriends@ponyup.io">yourfriends@ponyup.io</a></blockquote>

  <h2 data-fittext-max="40" data-fittext-min="10" data-fittext="1.5">Q: How do I create an account?</h2>
  <blockquote>A: <strong>You don't.</strong> Once you create a listing we will email you a special link to manage it.</blockquote>
</div>