<div class="row" ng-if="error">
  <h2 data-fittext-max="40" data-fittext-min="12" data-fittext="2">Not Found</h2>
  <hr style="margin-top: 0;">
  <div style="max-width: 768px; margin: 0 auto;">
    <h3 class="text-center">The page you visited doesn't exist!</h3>
  </div>
</div>

<div class="row" ng-if="ledger.objectId">
  <!-- Admin bar -->
  <nav ng-if="ledger.admin" class="navbar navbar-inverse navbar-fixed-top">
    <div class="tabletColumn" style="padding-top: 8px;">
      <span class="text-left pull-left">
        <a href="/{{ledger.objectId}}/edit" class="btn btn-warning btn-sm text-right">Edit <i class="fa fa-edit"></i></a>
        <a href="/{{ledger.objectId}}/transfer" class="btn btn-success btn-sm text-right">Transfer <i class="fa fa-dollar"></i></a>
      </span>
      <span class="text-right pull-right">
        <a ng-show="!logOutConfirm" ng-click="logOutConfirm = true" class="btn btn-default btn-sm text-right">Log Out <i class="fa fa-sign-out"></i></a>
        <a ng-show="logOutConfirm" ng-click="logOutConfirm = false" class="btn btn-primary btn-sm text-right">Stay logged in <i class="fa fa-remove"></i></a>
        <a ng-show="logOutConfirm" ng-click="logOut()" class="btn btn-default btn-sm text-right">Yes, Log Out <i class="fa fa-sign-out"></i></a>
      </span>
    </div>
  </nav>

  <h2 class="title animate" ng-class="{hasNavbarAbove: ledger.admin}">{{ledger.name}}</h2>
  <hr style="margin-top: 0;">
  <div class="tabletColumn">

    <!-- Claim listing -->
    <div ng-show="!ledger.email">
      <div class="alert alert-danger">We need your email address so we can send you money once people start contributing.</div>
      <form name="emailForm" ng-submit="submit();">
        <div class="input-group">
          <input autofocus class="form-control" required type="email" ng-model="ledger.missingEmail" placeholder="Enter email" style="height: 45px;">
          <span class="input-group-btn">
            <button ng-disabled="emailForm.$invalid" type="submit" class="btn btn-lg btn-success pull-right">Submit</button>
          </span>
        </div>
      </form>
      <hr>
    </div>

    <!-- Show description -->
    <div class="animate" ng-if="ledger.description" ng-hide="editDescription || !ledger.description">
      <blockquote>{{ledger.description | unsafe}}</blockquote>
    </div>

    <!-- Line items title -->
    <div class="panel panel-default animate" style="border-bottom-left-radius: 0; border-bottom-right-radius: 0; margin-bottom: -2px; z-index: 2; position: relative; border-bottom: 1px;">
      <div class="panel-heading">
        <span class="pull-left"><strong>Expenses:</strong></span>
        <div class="clearfix"></div>
      </div>
    </div>

    <!-- Display line items -->
    <div class="panel panel-default animate" ng-if="ledger.items.length > 0">
      <table class="table table-striped table-responsive" ng-hide="editingItems">
        <tr ng-repeat="item in ledger.items">
          <td style="padding-left: 15px">{{item.description || "(empty)"}}</td>
          <td class="priceColumn">{{item.price || 0 | currency:"$"}}</td>
        </tr>
        <tr class="total">
          <td style="padding-left: 15px">Total</td>
          <td class="priceColumn">{{totalPrice | currency:"$"}}</td>
        </tr>
      </table>
    </div>

    <!-- Contributions -->
    <!-- todo: if list is long then have a 'show more' button -->
    <div class="panel panel-info animate" ng-if="ledger.contributions">
      <div class="panel-heading">
        <span class="pull-left">So far we've ponied up:</span><span class="pull-right priceColumnAlt"><strong>{{totalContributions || 0 | currency:"$"}}</strong></span><div class="clearfix"></div>
      </div>
      <ul class="list-group">
        <li class="list-group-item" ng-if="!ledger.contributions || ledger.contributions.length < 1">
            <h3 class="text-center" style="padding-top: 30px; padding-bottom: 30px;"><strong>No one has made any contributions yet!</strong></h3>
            <div class="container" style="width: 100%">
              <div class="row">
                <div class="col-sm-6">
                  <p class="text-center" style="line-height: 50px;">Share this url with people: </p>
                </div>
                <div class="col-sm-6">
                  <form class="form">
                    <div class="form-group">
                      <input select-on-click type="text" class="form-control" value="https://www.ponyup.io/{{ledger.objectId}}">
                    </div>
                  </form>
                </div>
              </div>
            </div>
        </li>
        <li class="list-group-item" ng-repeat="payment in ledger.contributions | orderBy:'created':true">
          <div class="pull-left">
            <i class="fa fa-cc-{{payment.cardBrand | lowercase}}"></i> {{ payment.created * 1000 | date:'MMM d, y h:mm a'}}
          </div>
          <div class="pull-right priceColumnAlt">
            {{payment.amount / 100 | currency:"$"}}
          </div>
          <div class="clearfix"></div>
        </li>

        <li class="list-group-item blackFriday">
          <div class="pull-left">
            <h3>Your contribution: </h3>
          </div>
          <div class="pull-right">
            <input style="font-size: 1.5em" class="form-control priceColumn" type="number" placeholder="$0.00" ng-model="ledger.dollarAmount" min="0" max="10000" step="any" decimal-places valid-number>
          </div>
          <div class="clearfix"></div>
        </li>
      </ul>
    </div>

    <div class="alert alert-danger" ng-if="ownerError">{{ownerError}}</div>
    <div class="alert alert-danger" ng-if="chargeError">{{chargeError}}</div>
    <div class="alert alert-danger" ng-if="ledger.dollarAmount && !ledger.email">Someone must claim this listing before anyone can contribute money to it. Please enter an email at the top of the page.</div>

    <button ng-disabled="!ledger.dollarAmount || ledger.objectId=='demo' || !ledger.email" style="font-weight: 300;" ng-click="getCC()" data-fittext-max="30" data-fittext-min="12" data-fittext="2" ng-click="submit()" type="submit" class="btn btn-lg btn-primary btn-block jumbo"><small><i class="fa fa-credit-card"></i></small> Make a contribution</button>

    <hr>

    <div id="elevatorPitch">
      <small><strong>What is this website?</strong> <a href="/"><img src="/images/ponyup-alt.png" alt="PonyUp" style="max-height: 20px;"></a> is an online platform that provides an easy way to collect money from several people.</small>
    </div>
  </div>
</div>