<div class="row" ng-if="error">
  <h2 data-fittext-max="40" data-fittext-min="12" data-fittext="2">Not Found</h2>
  <hr style="margin-top: 0;">
  <div style="max-width: 768px; margin: 0 auto;">
    <h3 class="text-center">The page you visited doesn't exist!</h3>
  </div>
</div>

<div class="row" ng-if="ledger.objectId">
  <h2 class="title"><span e-maxlength="60" editable-text="ledger.name" onaftersave="submit()">{{ledger.name}}</span></h2>
  <hr style="margin-top: 0;">
  <div style="max-width: 768px; margin: 0 auto;">

    <!-- Claim listing -->
    <div ng-show="!ledger.email">
      <div class="alert alert-danger">We need your email address so we can send you money once people start contributing.</div>
      <form name="emailForm" ng-submit="submit();">
        <div class="input-group">
          <input autofocus class="form-control" required type="email" ng-model="ledger.missingEmail" placeholder="Enter email" style="height: 45px;">
          <span class="input-group-btn">
            <button ng-disabled="emailForm.$invalid" type="submit" class="btn btn-lg btn-success pull-right">Submit</button>
          </span>
        </div>
      </form>
      <hr>
    </div>

    <!-- Empty description -->
    <div class="panel panel-default" ng-if="editDescription || !ledger.description" ng-hide="dismissDescription">
      <div class="panel-heading">
        <div class="pull-left">Short description (optional):</div><div class="pull-right"><i style="padding: 10px; margin: -10px;" ng-click="dismissDescription = true" class="fa fa-close"></i></div><div class="clearfix"></div>
      </div>
      <div class="panel-body">
        <form name="descriptionForm" ng-submit="submit();">
          <div class="form-group">
            <textarea required ng-maxlength="300" maxlength="300" name="description" id="description" ng-model="ledger.descriptionNew" class="form-control" rows="3"></textarea>
          </div>
          <button ng-disabled="descriptionForm.$invalid" type="submit" class="btn btn-primary pull-right">Submit</button>
        </form>
      </div>
    </div>

    <!-- Show description -->
    <div ng-if="ledger.description" ng-hide="editDescription || !ledger.description">
      <blockquote><div editable-textarea="ledger.description" e-rows="4" e-maxlength="300" onaftersave="submit()"><small>{{ledger.description | unsafe}}</small></div></blockquote>
    </div>

    <!-- Buttons to edit line items -->
    <div class="panel panel-default" style="border-bottom-left-radius: 0; border-bottom-right-radius: 0; margin-bottom: -2px; z-index: 2; position: relative; border-bottom: 1px;">
      <div class="panel-heading">
        <span class="pull-left"><strong>Expenses:</strong></span>
        <span class="pull-right text-right">
          <a ng-hide="editingItems" ng-click="editingItems = !editingItems; makeCopy(ledger.items); isFocused = true" class="btn btn-xs btn-warning">Edit <i class="fa fa-edit"></i></a>
          <a ng-show="editingItems" ng-click="editingItems = false; submit();" class="btn btn-xs btn-primary">Save <i class="fa fa-check"></i></a>
          <a ng-show="editingItems" ng-click="editingItems = false; cancelEditItems()" class="btn btn-xs btn-danger">Cancel <i class="fa fa-remove"></i></a>
        </span>
        <div class="clearfix"></div>
      </div>
    </div>

    <!-- Display line items -->
    <div class="panel panel-default" ng-if="ledger.items.length > 0">
      <table class="table table-striped table-responsive" ng-hide="editingItems">
        <tr ng-repeat="item in ledger.items">
          <td style="padding-left: 15px">{{item.description || "(empty)"}}</td>
          <td class="priceColumn">{{item.price || 0 | currency:"$"}}</td>
        </tr>
        <tr class="total">
          <td style="padding-left: 15px">Total</td>
          <td class="priceColumn">{{totalPrice | currency:"$"}}</td>
        </tr>
      </table>
    </div>

    <!-- Edit line items -->
    <div ng-show="editingItems">
      <form name="theledger" role="form">
        <div class="panel panel-default" style="margin-top: -21px; border-top-left-radius: 0; border-top-right-radius: 0;">
          <table class="table table-striped table-responsive table-condensed">
            <tr ng-repeat="item in ledger.items">
              <td class="addRemove">
                <a ng-click="remove($index)" ng-disabled="$first" class="btn btn-danger text-center"><i class="fa fa-minus"></i></a>
              </td>
              <td>
                <input focus="price{{$index}}" ng-maxlength="60" maxlength="60" ng-if="!$last" class="form-control animate" id="{{'item' + $index}}" type="text" placeholder="{{item.placeholder}}" ng-model="item.description">
                <input focus="price{{$index}}" ng-maxlength="60" maxlength="60" ng-if="$last" class="form-control animate" id="{{'item' + $index}}" type="text" placeholder="{{item.placeholder}}" ng-model="item.description" sync-focus-with="isFocused">
              </td>
              <td class="priceColumn">
                <input ng-if="$first" id="{{'price' + $index}}" class="form-control" type="number" placeholder="{{item.placeholderPrice}}" ng-model="item.price" min="0" max="10000" step="any" decimal-places valid-number>
                <input ng-if="!$first" id="{{'price' + $index}}" class="form-control" type="number" placeholder="{{item.placeholderPrice}}" ng-model="item.price" min="0" max="10000" step="any" decimal-places valid-number>
              </td>
            </tr>
            <tr class="total">
              <td><button ng-disabled="ledger.items.length >= 100" class="btn btn-success btn-block" ng-click="add()"><i class="fa fa-plus"></i></button></td>
              <td style="padding-left: 15px">Total</td>
              <td class="priceColumn">{{totalPrice | currency:"$"}}</td>
            </tr>
            <tr>
              <td colspan="3" style="background-color: #f5f5f5;">
                <span class="pull-right text-right" style="padding-right: 10px;">
                  <a ng-hide="editingItems" ng-click="editingItems = !editingItems; makeCopy(ledger.items)" class="btn btn-xs btn-warning">Edit <i class="fa fa-edit"></i></a>
                  <a ng-show="editingItems" ng-click="editingItems = false; submit();" class="btn btn-xs btn-primary">Save <i class="fa fa-check"></i></a>
                  <a ng-show="editingItems" ng-click="editingItems = false; cancelEditItems()" class="btn btn-xs btn-danger">Cancel <i class="fa fa-remove"></i></a>
                </span>
                <div class="clearfix"></div>
              </td>
            </tr>
          </table>
        </div>
      </form>
    </div>

    <!-- Contributions -->
    <div class="panel panel-info">
      <div class="panel-heading">
        <span class="pull-left">So far we've ponied up:</span><span class="pull-right priceColumnAlt"><strong>{{totalContributions || 0 | currency:"$"}}</strong></span><div class="clearfix"></div>
      </div>
      <ul class="list-group">
        <li class="list-group-item" ng-if="!ledger.contributions || ledger.contributions.length < 1">
            <h3 class="text-center" style="padding-top: 30px; padding-bottom: 30px;"><strong>No one has made any contributions yet!</strong></h3>
            <div class="container" style="width: 100%">
              <div class="row">
                <div class="col-sm-6">
                  <p class="text-center" style="line-height: 50px;">Share this url with people: </p>
                </div>
                <div class="col-sm-6">
                  <form class="form">
                    <div class="form-group">
                      <input select-on-click type="text" class="form-control" value="https://www.ponyup.io/{{ledger.objectId}}">
                    </div>
                  </form>
                </div>
              </div>
            </div>
        </li>
        <li class="list-group-item" ng-repeat="payment in ledger.contributions">
          <div class="pull-left">
            <i class="fa fa-cc-{{payment.cardBrand | lowercase}}"></i> {{ payment.created * 1000 | date:'MMM d, y h:mm a'}}
          </div>
          <div class="pull-right priceColumnAlt">
            {{payment.amount / 100 | currency:"$"}}
          </div>
          <div class="clearfix"></div>
        </li>

        <li class="list-group-item blackFriday">
          <div class="pull-left">
            <h3>Your contribution: </h3>
          </div>
          <div class="pull-right">
            <input style="font-size: 1.5em" class="form-control priceColumn" type="number" placeholder="$0.00" ng-model="ledger.dollarAmount" min="0" max="10000" step="any" decimal-places valid-number>
          </div>
          <div class="clearfix"></div>
        </li>
      </ul>
    </div>

    <div class="alert alert-danger" ng-if="ownerError">{{ownerError}}</div>
    <div class="alert alert-danger" ng-if="chargeError">{{chargeError}}</div>

    <button ng-disabled="!ledger.dollarAmount || ledger.objectId=='demo'" style="font-weight: 300;" ng-click="getCC()" data-fittext-max="30" data-fittext-min="12" data-fittext="2" ng-click="submit()" type="submit" class="btn btn-lg btn-primary btn-block jumbo"><small><i class="fa fa-credit-card"></i></small> Make a contribution</button>

    <hr>

    <div id="elevatorPitch">
      <small><strong>What is this website?</strong> <a href="/"><img src="/images/ponyup-alt.png" alt="PonyUp" style="max-height: 20px;"></a> is an online platform that provides an easy way to collect money.</small>
    </div>
  </div>
</div>