<div class="row" ng-if="error">
  <h2 data-fittext-max="40" data-fittext-min="12" data-fittext="2">Not Found</h2>
  <hr style="margin-top: 0;">
  <div style="max-width: 768px; margin: 0 auto;">
    <h3 class="text-center">The page you visited doesn't exist!</h3>
  </div>
</div>

<div class="row" ng-if="ledger.objectId && !ledger.admin">
  <h2 class="title">Unauthorized</h2>
  <hr style="margin-top: 0;">
  <div class="tabletColumn">
    <div class="panel panel-default">
      <div class="panel-heading">You don't have access to view this page</div>
      <div class="panel-body">
        <p class="text-center">You can <a href="/{{ledger.objectId}}">Return to the listing page</a></p>
        <p class="text-center">or</p>
        <div class="text-center">
          <a ng-show="!requestAdmin" ng-click="requestAdmin = true" class="btn btn-lg btn-success">Request a special admin link</a>

          <div ng-hide="requestedAccess">
            <a ng-show="requestAdmin" ng-click="requestAccess(); requestedAccess = true" class="btn btn-lg btn-primary">Email the login link to {{ledger.email}}</a>
            <a ng-show="requestAdmin" ng-click="requestAdmin = false" class="btn btn-lg btn-danger">Cancel <i class="fa fa-remove"></i></a>
          </div>

          <div class="alert alert-success" ng-if="requestedAccess">Check your email at {{ledger.email}}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" ng-if="ledger.objectId && ledger.admin">
  <!-- Admin bar -->
  <nav ng-if="ledger.admin" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="tabletColumn" style="padding-top: 8px;">
      <div ng-hide="loading">
        <span class="text-left pull-left">
          <a href="/{{ledger.objectId}}" class="btn btn-success btn-sm text-right"><i class="fa fa-chevron-circle-left"></i> Return to Listing</a>
        </span>
        <span class="text-right pull-right">
          <a ng-show="!logOutConfirm" ng-click="logOutConfirm = true" class="btn btn-default btn-sm text-right">Log Out <i class="fa fa-sign-out"></i></a>
          <a ng-show="logOutConfirm" ng-click="logOutConfirm = false" class="btn btn-primary btn-sm text-right">Stay logged in <i class="fa fa-remove"></i></a>
          <a ng-show="logOutConfirm" ng-click="logOut()" class="btn btn-default btn-sm text-right">Yes, Log Out <i class="fa fa-sign-out"></i></a>
        </span>
      </div>
      <div ng-show="loading">
        <div class="progress" style="margin: 0; height: 26px; margin-top: 4px;">
          <div class="progress-bar progress-bar-striped active"  role="progressbar" style="width: 100%;">
            <span class="sr-only">Saving</span>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <div class="tabletColumn">
    <div ng-class="{hasNavbarAbove: ledger.admin}"></div>

    <!-- Error message if applicable -->
    <div ng-if="errorMessage" class="alert alert-warning alert-dismissible alert-fixed">
      <div class="tabletColumn">
        <button ng-click="removeError()" class="close" ><i class="fa fa-remove"></i></button>
        <strong>Error: </strong> {{errorMessage}}
      </div>
    </div>

    <!-- Contributions -->
    <div class="panel panel-info">
      <div class="panel-heading">
        <span class="pull-left">Your friends have ponied up:</span><span class="pull-right"><strong>{{totalContributions || 0 | currency:"$"}}</strong></span><div class="clearfix"></div>
      </div>
      <ul class="list-group">
        <li class="list-group-item" ng-if="ledger.contributions && ledger.totalContributions == 0">
            <h3 class="text-center" style="padding-top: 30px; padding-bottom: 30px;"><strong>No one has made any contributions yet!</strong></h3>
            <div class="container" style="width: 100%">
              <div class="row">
                <div class="col-sm-6">
                  <p class="text-center" style="line-height: 50px;">Share this url with people: </p>
                </div>
                <div class="col-sm-6">
                  <form class="form">
                    <div class="form-group">
                      <input select-on-click type="text" class="form-control" value="http://ponyup.io/{{ledger.objectId}}">
                    </div>
                  </form>
                </div>
              </div>
            </div>
        </li>
        <li class="list-group-item" ng-repeat="payment in ledger.contributions">
          <div class="pull-left">
            <i class="fa fa-cc-{{payment.cardBrand | lowercase}}"></i> {{ payment.created * 1000 | date:'MMM d, y h:mm a'}}
          </div>
          <div class="pull-right">
            {{payment.withFee / 100 | currency:"$"}} ({{payment.amount / 100 | currency:"$"}})
          </div>
          <div class="clearfix"></div>
        </li>
      </ul>
      <div class="panel-footer">
        <span class="pull-left">After processing fees:</span><span class="pull-right"><strong>{{totalContributionsWithFee || 0 | currency:"$"}} </strong></span><div class="clearfix"></div>
      </div>
    </div>

    <!-- Remaining Balance -->
    <div class="panel panel-info">
      <div class="panel-heading">
        <span class="pull-left">Payouts:</span>
        <span class="pull-right">
          <strong>{{totalPayouts + ((ledger.payouts.length * 25) / 100) || 0 | currency:"$"}}</strong>
        </span>
        <div class="clearfix"></div>
      </div>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="payout in ledger.payouts">
          <div title="{{ payout.created * 1000 | date:'MMM d, y h:mm a'}}">
            <div class="pull-left">
              <span><span ng-if="payout.temp"><p class="text-center"><i class="fa fa-refresh fa-spin"></i></p></span><i class="fa fa-cc-{{payout.cardBrand | lowercase}}"></i> ****-{{payout.card.last4}} {{payout.card.exp_month}}/{{payout.card.exp_year}}</span>
            </div>
            <div class="pull-right">
              {{(payout.amount) / 100 | currency:"$"}} 
            </div>
            <div class="clearfix"></div>
          </div>
        </li> 
        <li class="list-group-item">
          <div class="pull-left">
            <i class="fa fa-money"></i> Transfer fees
          </div>
          <div class="pull-right">
            <small>({{ledger.payouts.length}} x $0.25)&nbsp;&nbsp;</small> {{(ledger.payouts.length * 25) / 100 | currency:"$"}}
          </div>
          <div class="clearfix"></div>
        </li>
        <li class="list-group-item" ng-if="ledger.penalties">
          <div class="pull-left">
            <i class="fa fa-money"></i> Penalties
          </div>
          <div class="pull-right">
            Todo
          </div>
          <div class="clearfix"></div>
        </li>
      </ul>
      <div class="panel-footer">
        <span class="pull-left">Remaining balance:</span>
        <span class="pull-right text-right">
          <span ng-if="totalContributionsWithFee - (totalPayouts + ((ledger.payouts.length * 25) / 100)) > 0">
            {{totalContributionsWithFee - (totalPayouts + ((ledger.payouts.length * 25) / 100)) | currency:"$"}}<br>
          </span>
          <span ng-if="totalContributionsWithFee - (totalPayouts + ((ledger.payouts.length * 25) / 100)) <= 0">{{0 | currency:"$"}}<br></span>
          <!-- {{totalContributionsWithFee - (totalPayouts + ((ledger.payouts.length * 25) / 100)) || 0 | currency:"$"}}<br> -->
          <span ng-if="totalContributionsWithFee - (totalPayouts + ((ledger.payouts.length * 25) / 100)) > 0" style="border-bottom: 1px solid">
            - <small>(transfer fee)</small> $0.25<br>
          </span>
          <strong ng-if="totalContributionsWithFee - (totalPayouts + ((ledger.payouts.length * 25) / 100)) > 0">
            {{totalContributionsWithFee - 0.25 - (totalPayouts + ((ledger.payouts.length * 25) / 100)) || 0 | currency:"$"}}
          </strong>
          </span>
          <div class="clearfix"></div>
      </div>
    </div>

    <div class="alert alert-danger" ng-if="ownerError">{{ownerError}}</div>
    <div class="alert alert-danger" ng-if="depositError">{{depositError}}</div>
    <div class="alert alert-success" ng-if="transferSuccess">{{transferSuccess}}</div>

    <div ng-show="needVerification">
      <form ng-submit="verify(needVerification)">
        <div class="alert alert-danger">{{verifyError}}</div>
        <div class="input-group" ng-show="needVerification.type == 'individual'">
          <input sync-focus-with="needVerification.type == 'individual'" class="form-control" type="text" ng-model="needVerification.verifyNumber" placeholder="Social Security Number" style="height: 45px;">
          <span class="input-group-btn">
            <button ng-disabled="!needVerification.verifyNumber" type="submit" class="btn btn-lg btn-success pull-right">Continue <i class="fa fa-arrow-right"></i></button>
          </span>
        </div>

        <div class="input-group" ng-show="needVerification.type == 'corporation'">
          <input sync-focus-with="needVerification.type == 'corporation'" class="form-control" type="text" ng-model="needVerification.verifyNumber" placeholder="Employee Identification Number" style="height: 45px;">
          <span class="input-group-btn">
            <button ng-disabled="!needVerification.verifyNumber" type="submit" class="btn btn-lg btn-success pull-right">Continue <i class="fa fa-arrow-right"></i></button>
          </span>
        </div>
      </form>
    </div>

    <!-- Legal name -->
    <div ng-if="requestingDeposit && totalContributionsWithFee" ng-hide="transferSuccess" ng-init="depositorType = 'individual'">
      <form ng-hide="requestingDepositDone || verifyError" ng-submit="getDepositCC(legalName, depositorType);">
        <p ng-hide="depositError"><strong>First, we need your name, or your company's name</strong></p>
        <label class="radio-inline">
          <input required type="radio" ng-model="depositorType" value="individual">
          Individual
        </label>

        <label class="radio-inline">
          <input requird type="radio" ng-model="depositorType" value="corporation">
          Corporation
        </label>

        <div class="input-group">
          <input sync-focus-with="requestingDeposit" class="form-control" type="text" ng-model="legalName" placeholder="Full Legal Name" style="height: 45px;">
          <span class="input-group-btn">
            <button ng-disabled="!legalName" type="submit" class="btn btn-lg btn-success pull-right">Continue <i class="fa fa-arrow-right"></i></button>
          </span>
        </div>
      </form>
    </div>

    
    <div ng-hide="totalContributionsWithFee - 0.25 - (totalPayouts + ((ledger.payouts.length * 25) / 100)) <= 0.25">
      <span ng-click="requestingDeposit = true" ng-show="totalContributionsWithFee && !requestingDeposit">
        <button style="font-weight: 300;" data-fittext-max="30" data-fittext-min="12" data-fittext="2" class="btn btn-lg btn-primary btn-block jumbo"><small><i class="fa fa-credit-card"></i></small> Transfer {{totalContributionsWithFee - 0.25 - (totalPayouts + ((ledger.payouts.length * 25) / 100)) | currency:"$"}} to my debit card</a></button>
      </span>
    </div>

    <div ng-show="totalContributionsWithFee - 0.25 - (totalPayouts + ((ledger.payouts.length * 25) / 100)) <= 0.25" class="alert alert-warning">You need <strong>at least</strong> $0.25 to make a transfer</div>

    <hr>
    <small class="finePrint pull-right">Please note: Each outbound transfer costs $0.25</small>
    <div class="clearfix"></div>

    <!-- 
    <tabset>
      <tab heading="1">
        choose a custom url
      </tab>
      <tab heading="2">
        write an email blast
      </tab>
      <tab heading="2">
        change the access link
      </tab>
      <tab heading="4">
        <form name="emailForm">
          <div class="input-group">
            <input autofocus class="form-control" required type="email" ng-model="ledger.email"  style="height: 45px;">
            <span class="input-group-btn">
              <button ng-disabled="emailForm.$invalid" type="submit" class="btn btn-lg btn-success pull-right">Change Email</button>
            </span>
          </div>
        </form>
      </tab>
    </tabset>
     -->
</div>