<div class="row">
  <h2 data-fittext-max="40" data-fittext-min="12" data-fittext="2">Simple Pricing</h2>
  <div style="max-width: 768px; margin: 0 auto;">
    <div class="panel panel-default">
      <div class="panel-heading">PonyUp is <strong>free to use</strong>, but has a few processing fees:</div>
      <div class="panel-body">
        <p><strong>When someone sends you money:</strong></p>
        <p>We charge a <strong>3%</strong> fee plus an additional <strong>30&cent;</strong> anytime someone sends you money</p>
        <p>So if someone sends you $20. Then we charge:</p>
        <ul>
          <li>$0.60 for processing</li>
          <li>Plus an additional $0.30</li>
        </ul>
      </div>
      <!-- List group -->
      <ul class="list-group">
        <li class="list-group-item">
          <div>
            <p><strong>When you transfer money to your debit card:</strong></p>
            <p>We deduct <strong>25&cent;</strong> anytime you transfer money out of your PonyUp account and in to your debit card.</p>
            <p>If the transaction fails, then we deduct <strong>$1</strong> from your balance.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>